A CSI provider intended to provide an abstract way to expose a single Pod to the outside network, while hiding details about the cluster from the application developer.

{% filter trim %}
  {%- include "partials/borrowed/overview_blurb.md.j2" -%}
{% endfilter %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/home/stable/{{operator_docs_slug}}/getting_started/installation).

## Building

As a user you do not need to build the operator yourself, but for development purposes you can read the [build instructions](./BUILDING.md) to learn how to build the operator.

{% filter trim %}
  {%- include "partials/borrowed/documentation.md.j2" -%}
{% endfilter %}
