A CSI provider intended to provide an abstract way to expose a single Pod to the outside network, while hiding details about the cluster from the application developer.

{% filter trim %}
  {%- include "partials/borrowed/overview_blurb.md.j2" -%}
{% endfilter %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/home/stable/listener-operator/getting_started/installation).

{% filter trim %}
  {%- include "partials/borrowed/documentation.md.j2" -%}
{% endfilter %}
